<div class="home-content">
  <h1>Pranav</h1>
  <div class="intro">
    <p></p>
  </div>

  <div class="social-links">
    <h2></h2>
    <ul>
      <li>
        <a
          href="https://github.com/yourusername"
          target="_blank"
          rel="noopener noreferrer"
        ></a>
      </li>
      <li>
        <a
          href="https://twitter.com/yourusername"
          target="_blank"
          rel="noopener noreferrer"
        ></a>
      </li>
      <li>
        <a
          href="https://linkedin.com/in/yourusername"
          target="_blank"
          rel="noopener noreferrer"
        ></a>
      </li>
    </ul>
  </div>
</div>
